<a href="https://colab.research.google.com/github/pabhijeet99/DS_Python_files/blob/main/Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
Q7=pd.read_csv("/content/Q7.csv")

# Q7 **Mean**

In [ ]:
Q7.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Points     3.596563
Score      3.217250
Weigh     17.848750
dtype: float64

# Q7 **Median**

In [ ]:
Q7.median()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Points     3.695
Score      3.325
Weigh     17.710
dtype: float64

# Q7 **Mode**

In [ ]:
Q7[['Points','Score','Weigh']].mode()

   Points  Score  Weigh
0    3.07   3.44  17.02
1    3.92    NaN  18.90

# Q7 **Variance**

In [ ]:
 Q7.var()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Points    0.285881
Score     0.957379
Weigh     3.193166
dtype: float64

# Q7 **Standard Deviation**

In [ ]:
Q7.std()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Points    0.534679
Score     0.978457
Weigh     1.786943
dtype: float64

Q7 **Range**

In [ ]:
Points_Range=Q7['Points'].max()-Q7['Points'].min()
Score_Range=Q7['Score'].max()-Q7['Score'].min()
Weigh_Range=Q7['Weigh'].max()-Q7['Weigh'].min()
print('points:',Points_Range)
print('Score:',Score_Range)
print('Weigh:',Weigh_Range)

points: 2.17
Score: 3.9110000000000005
Weigh: 8.399999999999999

In [ ]:
#weights of Patients
Weights=[109,110,123,134,135,145,167,187,199]
#Probability of each Patients
Probability=1/len(Weights)
#Expectation of a randomly selected patients
Expectation=Probability*sum(Weights)
print('Expected Value of the Weight of that Patient:',Expectation)

Expected Value of the Weight of that Patient: 145.44444444444443

In [ ]:
Q9_A=pd.read_csv("/content/Q9_a.csv")
Q9_A.head()

   Index  speed  dist
0      1      4     2
1      2      4    10
2      3      7     4
3      4      7    22
4      5      8    16

In [ ]:
print('The skewness of speed;',Q9_A['speed'].skew())

The skewness of speed; -0.11750986144663393

In [ ]:
print('The kurtosis of speed;',Q9_A['speed'].kurtosis())

The kurtosis of speed; -0.5089944204057617

In [ ]:
print('The skewness of distance;',Q9_A['dist'].skew())

The skewness of distance; 0.8068949601674215

In [ ]:
print('The kurtosis of distance;',Q9_A['dist'].skew())

The kurtosis of distance; 0.8068949601674215

In [25]:
Q9_B=pd.read_csv("/content/Q9_b.csv")
Q9_B.head()

   Unnamed: 0          SP         WT
0           1  104.185353  28.762059
1           2  105.461264  30.466833
2           3  105.461264  30.193597
3           4  113.461264  30.632114
4           5  104.461264  29.889149

In [26]:
print('The skewness of speed:',Q9_B['SP'].skew())

The skewness of speed: 1.6114501961773586

In [27]:
print('The kurtosis of speed:',Q9_B['SP'].kurtosis())

The kurtosis of speed: 2.9773289437871835

In [28]:
print('The skewness of weight:',Q9_B['WT'].skew())

The skewness of weight: -0.6147533255357768

In [29]:
print('The kurtosis of weight:',Q9_B['WT'].kurtosis())

The kurtosis of weight: 0.9502914910300326